{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Hallo {{ name }}, it is {{ 'now' | date }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
