{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Hello {{ name }}, it is {{ 'now' | date('H:i:s') }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
